@model IEnumerable<GraderApp.Models.Student>

@{
    ViewData["Title"] = "Grades Per Course";
    List<GraderApp.Models.CourseHasStudent> courseHasStudents = ViewBag.list1;
    List<GraderApp.Models.Course> courses = ViewBag.list2;
    int regNum = 0;
    int courseId = 0;
}
<br />
<h1>Grades Per Course for Student: @ViewBag.username</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Registration Number
            </th>
            <th>
                Course Title
            </th>
            <th>
                Course Grade
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
        {
            if(@ViewBag.username == item.UsersUsername)
            regNum = item.RegistrationNumber;
        }
        @foreach (var item in courseHasStudents)
        {
            if(regNum == item.StudentsRegistrationNumber)
                courseId = item.CourseIdCourse;
        }

    <tbody>
        <tr>
        @foreach (var item in courseHasStudents)
        {
                if (courseId == item.CourseIdCourse)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseIdCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentsRegistrationNumber)
                    </td>


                    @foreach (var item2 in courses)
                    {
                        if (courseId == item2.IdCourse)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item2.CourseTitle)
                            </td>
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeCourseStudent)
                </td>
                }
        }
        </tr>
    </tbody>
</table>
