@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<GraderApp.Models.Student>

@{
    ViewData["Title"] = "Grades Per Semester";
    List<GraderApp.Models.CourseHasStudent> courseHasStudents = ViewBag.list1;
    List<GraderApp.Models.Course> courses = ViewBag.list2;
    int regNum = 0;
    String courseSem = "";
    float? sum = 0;
    float? count = 0;
    decimal avg = 0;
}
@foreach (var item in Model)
{
    if (@ViewBag.username == item.UsersUsername)
        regNum = item.RegistrationNumber;
}
@foreach (var item in courseHasStudents)
{
    if (regNum == item.StudentsRegistrationNumber)
    {
        foreach (var item2 in courses)
        {
            if (item.CourseIdCourse == item2.IdCourse)
                courseSem = item2.CourseSemester;
        }
    }
}

<br>
<h1>Grades Per Semester for Student: @ViewBag.username</h1>
<h3>@courseSem Semester</h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Registration Number
            </th>
            <th>
                Course Title
            </th>
            <th>
                Course Grade
            </th>
        </tr>
    </thead>
    @foreach (var item in courseHasStudents)
    {
        @if (regNum == item.StudentsRegistrationNumber)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseIdCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentsRegistrationNumber)
                    </td>


                    @foreach (var item2 in courses)
                    {
                        if (item.CourseIdCourse == item2.IdCourse)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item2.CourseTitle)
                            </td>
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.GradeCourseStudent)
                        @{
                            sum += item.GradeCourseStudent;
                            count++;
                        }
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
<nav>
    @Html.PagedListPager(Model, page => Url.Action("GradesPerSemester", new { page = page}), new PagedListRenderOptions()
{
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,

})
</nav>

@{
    avg = (decimal)(sum / count);

    avg = Math.Round(avg, 2);
}
<h4>Average @courseSem Semester Grade: @avg</h4>