@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<GraderApp.Models.StudentCourseView>

@{
    ViewData["Title"] = "Grades Per Semester";
    String courseSem = ViewBag.courseSem;
    float? sum = 0;
    float? count = 0;
    decimal avg = 0;
}

<br>
<h1>Grades Per Semester for Student: @ViewBag.username</h1>
<h3>@courseSem Semester</h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Course Title
            </th>
            <th>
                Course Grade
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        if (courseSem == item.CourseSemester)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseGradeStudent)
                    </td>
                </tr>
            </tbody>
            if (item.CourseGradeStudent != null)
            {
                sum += item.CourseGradeStudent;
                count++;
            }
        }
    }
</table>
<nav>
    @{
        String p1 = "/Students/GradesPerSemester/" + ViewBag.username.Replace(" ","%20") + "?page=1";
        String p2 = "/Students/GradesPerSemester/" + ViewBag.username.Replace(" ","%20") + "?page=2";
        String p3 = "/Students/GradesPerSemester/" + ViewBag.username.Replace(" ","%20") + "?page=3";
        String p4 = "/Students/GradesPerSemester/" + ViewBag.username.Replace(" ","%20") + "?page=4";
    }

    <div class="pagination-container">
        <ul class="pagination justify-content-center mt-3">
            @switch (courseSem)
            {
                case "First":
                    <li class="PagedList-skipToPrevious disabled page-item">
                        <span class="page-link" rel="prev">Previous</span>
                    </li>
                break;
                case "Second":
                    <li class="PagedList-skipToPrevious page-item">
                        <a class="page-link" rel="prev" href=@p1>Previous</a>
                    </li>
                break;
                case "Third":
                    <li class="PagedList-skipToPrevious page-item">
                        <a class="page-link" rel="prev" href=@p2>Previous</a>
                    </li>
                break;
                case "Fourth":
                    <li class="PagedList-skipToPrevious page-item">
                        <a class="page-link" rel="prev" href=@p3>Previous</a>
                    </li>
                    break;
            }
            @if(courseSem == "First"){
            <li class="active page-item">
                 <a class="page-link" href=@p1>1</a>
            </li>
            }else{
                <li class="page-item">
                    <a class="page-link" href=@p1>1</a>
            </li>
            }                
            @if (courseSem == "Second")
            {
                <li class="active page-item">
                    <a class="page-link" href=@p2>2</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href=@p2>2</a>
                </li>
            }
            @if (courseSem == "Third")
            {
                <li class="active page-item">
                     <a class="page-link" href=@p3>3</a>
                </li>
            }
            else
            {
                    <li class="page-item">
                        <a class="page-link" href=@p3>3</a>
                </li>
            }    
            @if (courseSem == "Fourth")
            {
                <li class="active page-item">
                     <a class="page-link" href=@p4>4</a>
                </li>
            }
            else
            {
                    <li class="page-item">
                        <a class="page-link" href=@p4>4</a>
                </li>
            }
            @switch (courseSem)
            {
                case "First":
                    <li class="PagedList-skipToNext page-item">
                        <a class="page-link" rel="next" href=@p2>Next</a>
                    </li>
                    break;
                case "Second":
                    <li class="PagedList-skipToNext page-item">
                        <a class="page-link" rel="next"href=@p3>Next</a>
                    </li>
                    break;
                case "Third":
                    <li class="PagedList-skipToNext page-item">
                        <a class="page-link" rel="next" href=@p4>Next</a>
                    </li>
                    break;
                case "Fourth":
                    <li class="PagedList-skipToNext disabled page-item">
                        <a class="page-link">Next</a>
                    </li>
                    break;
            }
        </ul>
    </div>
</nav>

@{
    if (count > 0 && String.IsNullOrEmpty(ViewBag.search)){
    avg = (decimal)(sum / count);

    avg = Math.Round(avg, 2);
<h4>Average @courseSem Semester Grade: @avg</h4>
    }
}