@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<GraderApp.Models.StudentCourseView>

@{
    ViewData["Title"] = "Total Grades";
}

<br />
<h1>Total Grades for Student: @ViewBag.username</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Course Title
            </th>
            <th>
                Course Semester
            </th>
            <th>
                Course Grade
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseGradeStudent)
                </td>
            </tr>
        </tbody>
    }
</table>
<nav>
    @Html.PagedListPager(Model, page => Url.Action("TotalGrades", new { page = page}), new PagedListRenderOptions()
{
ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,

})
</nav>

<h4>Average Total Grade: @ViewBag.avg</h4>
