@model GraderApp.Models.CourseHasStudent

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseHasStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeCourseStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeCourseStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseIdCourseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseIdCourseNavigation.IdCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentsRegistrationNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentsRegistrationNumberNavigation.RegistrationNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseIdCourse" />
        <input type="hidden" asp-for="StudentsRegistrationNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
