@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<GraderApp.Models.ProfessorCourseView>

@{
    ViewData["Title"] = "Insert Grades";
}
<br />
<h1>Ungraded Courses by: @ViewBag.username</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                CourseID
            </th>
            <th>
                Registration Number
            </th>
            <th>
                Course Title
            </th>
            <th>
                Course Semester
            </th>
            <th>
                Course Grade
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseRegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseSemester)
                </td>
                <td>
                    @*<a asp-controller="coursehasstudents" asp-action="Edit" asp-route-id="@item.IdCourse">Grade</a>*@
                    @Html.ActionLink("Insert Grade", "Edit","coursehasstudents", new { COURSE_idCOURSE = item.IdCourse, STUDENTS_RegistrationNumber = item.CourseRegistrationNumber, id=@ViewBag.username })
                </td>
            </tr>
        </tbody>
    }
</table>

<nav>
    @Html.PagedListPager(Model, page => Url.Action("InsertGrades", new { page = page}), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,

    })
</nav>
